
@{
    ViewData["Title"] = "BackedFunds";
}


<h1 align="center">Fund this project</h1>

<form id="userDataForm">
    <table align="center">
        <tr><td>Number of pledges</td>  <td><input type="text" id="Fund"placeholder="Number of pledges" required>	</td>  </tr>
        
      
        <tr>
            <td>
                <input type="button" onclick="doAddFund()"
                       value="Submit">
    </table>

</form>

<div id="responseDiv">   </div>