
@{
    ViewData["Title"] = "Login";
}


<h1 align="center">Login </h1>
<form id="LoginUser">
    <div class="form-group text-left row-cols-md-6">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <input type="button" class="btn btn-primary float-right" id="loginButton" value="Submit">
</form>

@*<form id="LoginUser">
        <table align="center">
            <tr><td>Email	</td>  <td> <input type="text" id="Email" name="Email" placeholder="Email">	</td>  </tr>

            <tr>
                <td colspan="2">
                    <input type="button" id="loginButton" value="Submit">
                </td>
            </tr>
        </table>

    </form>

    <div id="responseDiv">   </div>*@